.react {
    height: 60px;
    weight: 60px;
    border-radius: 50%;
}
.react:hover {
    transform: scale(1.1);
}

.node {
    height: 60px;
    weight: 60px;
    border-radius: 50%;
}
.node:hover {
    transform: scale(1.1);
}

.go {
    height: 60px;
    weight: 60px;
    border-radius: 50%;
}
.go:hover {
    transform: scale(1.1);
}

.nest {
    height: 60px;
    weight: 60px;
    border-radius: 50%;
}
.nest:hover {
    transform: scale(1.1);
}

/* mini logos for job cards*/
.react_jobs_cards {
    height: 30px;
    weight: 30px;
    border-radius: 50%;
}

.react_jobs_cards:hover {
    transform: scale(1.1);
}
